<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" type="image/png" href="{% static 'dist/img/favicon.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


    <title>{% block title %}My House 24{% endblock %}</title>
    <link href="{% static 'dist/css/style.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<nav class="navbar navbar-white bg-white">
      <div class="container">
            <div class="col-4">
                <p class="text-white m-0" style="align-items: center;"><img width="25%" src="{% static 'dist/img/logo.svg' %}" alt=""></p>
            </div>
          <div class="col"></div>
          <div class="col-1"><a href="#" class="header-text text-decoration-none text-dark">Головна</a></div>
          <div class="col-1"><a href="#" class="header-text text-decoration-none text-dark">Про нас</a></div>
          <div class="col-1"><a href="#" class="header-text text-decoration-none text-dark">Послуги</a></div>
          <div class="col-1"><a href="#" class="header-text text-decoration-none text-dark">Контакти</a></div>
          <div class="col-1"><a href="#" class="header-text text-decoration-none text-dark">Вхід<svg width="20px" height="25px" class="header-text" xmlns="http://www.w3.org/2000/svg"  fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9" />
</svg>
</a></div>
      </div>
</nav>

<div class="photo">

</div>

<div class="container">hello</div>

<footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <p class="text-muted">AVADA-MEDIA 2023</p>
                </div>
            </div>
        </div>
    </footer>
</body>


<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.1.2/chart.min.js" integrity="sha512-fYE9wAJg2PYbpJPxyGcuzDSiMuWJiw58rKa9MWQICkAqEO+xeJ5hg5qPihF8kqa7tbgJxsmgY0Yp51+IMrSEVg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'plugins/bootstrap/js/Chart.min.js'%}"> </script>
<script src="{% static 'plugins/bootstrap/js/moment.js' %}"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
<!-- Script -->

<script src="{% static 'dist/js/jquery-ui.js' %}"></script>
</html>