{% extends 'Appartament/base.html' %}
{% load static %}
{% block content %}
    <section class="content-header">
        <h1>Редагування сторінки</h1>
        <ul class="breadcrumb"><li><a href="/admin/"><i class="fa fa-home"></i>Головна</a></li>
            <li class="active">Редагування сторінки</li>
        </ul>
    </section>

    <section class="content">

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Редагування сторінки "Головна"</h3>
                <div class="box-tools">
                </div>
            </div>
            <div class="box-body">
                <form id="w0" action="{% url 'general_page' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row site-main-slider">
                        <div class="col-md-4">
                            <h4>Слайд 1</h4>
                            {% if generalpage.image1 %}
                                <img src="{{ generalpage.image1.url }}" id="image-1-page" alt="" class="img-responsive margin-bottom-15">
                            {% else %}
                                <img src="{% static 'dist/img/glide.jpeg' %}" alt="" class="img-responsive margin-bottom-15">
                            {% endif %}
                            <div class="form-group field-websitehomeslide-0-id">
                                <input type="hidden" id="websitehomeslide-0-id" class="form-control" name="WebsiteHomeSlide[0][id]" value="1">
                                <div class="help-block"></div>
                            </div>
                            <div class="form-group margin-bottom-30 field-websitehomeslide-0-imagefile">
                                <label class="control-label" id="label_image-1-page" for="{{ form.image2.id_for_label }}">Рекомендований розмір: (1920x800)</label>
                                {{ form.image1 }}
                                <div class="help-block"></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h4>Слайд 2</h4>
                            {% if generalpage.image2 %}
                                <img src="{{ generalpage.image2.url }}" id="image-2-page" alt="" class="img-responsive margin-bottom-15">
                            {% else %}
                                <img src="{% static 'dist/img/glide.jpeg' %}" alt="" class="img-responsive margin-bottom-15">
                            {% endif %}
                            <div class="form-group field-websitehomeslide-1-id">
                                <input type="hidden" id="websitehomeslide-1-id" class="form-control" name="WebsiteHomeSlide[1][id]" value="2">
                                <div class="help-block"></div>
                            </div>
                            <div class="form-group margin-bottom-30 field-websitehomeslide-1-imagefile">
                                <label class="control-label" id="label_image-2-page" for="{{ form.image2.id_for_label }}">Рекомендований розмір: (1920x800)</label>
                                {{ form.image2 }}
                                <div class="help-block"></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h4>Слайд 3</h4>
                            {% if generalpage.image3 %}
                                <img src="{{ generalpage.image3.url }}" id="image-3-page" alt="" class="img-responsive margin-bottom-15">
                            {% else %}
                                <img src="{% static 'dist/img/glide.jpeg' %}" alt="" class="img-responsive margin-bottom-15">
                            {% endif %}
                            <div class="form-group field-websitehomeslide-2-id">
                                <input type="hidden" id="websitehomeslide-2-id" class="form-control" name="WebsiteHomeSlide[2][id]" value="3">
                                <div class="help-block"></div>
                            </div>
                            <div class="form-group margin-bottom-30 field-websitehomeslide-2-imagefile">
                                <label class="control-label" id="label_image-3-page" for="{{ form.image3.id_for_label }}">Рекомендований розмір: (1920x800)</label>
                                {{ form.image3 }}
                                <div class="help-block"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="page-header">Коротка інформація</h3>
                            <div class="form-group field-websitehomeform-hometitle">
                                <label class="control-label" for="websitehomeform-hometitle">Заголовок</label>
                                    {{ form.title }}
                               <div class="help-block"></div>
                            </div>
                            <div class="form-group field-websitehomeform-homedescription">
                                <label class="control-label" for="websitehomeform-homedescription">Короткий текст</label>
                                <ul class="wysihtml5-toolbar" style="">
                                    <li class="dropdown">
                                        <a class="btn btn-default dropdown-toggle btn-none" data-toggle="dropdown">
                                            <span class="fa fa-font"></span>
                                            <span class="current-font">Звичайний текст</span>
                                            <b class="caret"></b>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="p" tabindex="-1" href="javascript:;" unselectable="on">Звичайний текст</a></li>
                                            <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1" tabindex="-1" href="javascript:;" unselectable="on">Заголовок 1</a></li>
                                            <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2" tabindex="-1" href="javascript:;" unselectable="on">Заголовок 2</a></li>
                                            <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h3" tabindex="-1" href="javascript:;" unselectable="on">Заголовок 3</a></li>
                                            <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h4" tabindex="-1" href="javascript:;" unselectable="on">Заголовок 4</a></li>
                                            <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h5" tabindex="-1" href="javascript:;" unselectable="on">Заголовок 5</a></li>
                                            <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h6" tabindex="-1" href="javascript:;" unselectable="on">Заголовок 6</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <div class="btn-group">
                                            <a class="btn btn-none btn-default" data-wysihtml5-command="bold" title="CTRL+B" tabindex="-1" href="javascript:;" unselectable="on">Полужирний</a>
                                            <a class="btn btn-none btn-default" data-wysihtml5-command="italic" title="CTRL+I" tabindex="-1" href="javascript:;" unselectable="on">Курсив</a>
                                            <a class="btn btn-none btn-default" data-wysihtml5-command="underline" title="CTRL+U" tabindex="-1" href="javascript:;" unselectable="on">Підкреслений</a>

                                        </div>
                                        </li>
                                        <li>
                                            <div class="btn-group">
                                                <a class="btn btn-none btn-default" data-wysihtml5-command="insertUnorderedList" title="Маркирований список" tabindex="-1" href="javascript:;" unselectable="on">
                                                    <span class="fa fa-list-ul"></span>
                                                </a>
                                                <a class="btn btn-none btn-default" data-wysihtml5-command="insertOrderedList" title="Нумерований список" tabindex="-1" href="javascript:;" unselectable="on">
                                                    <span class="fa fa-list-ol"></span>
                                                </a>
                                                <a class="btn btn-none btn-default" data-wysihtml5-command="Outdent" title="Зменшити відступ" tabindex="-1" href="javascript:;" unselectable="on">
                                                    <span class="fa fa-outdent"></span>
                                                </a>
                                                <a class="btn btn-none btn-default" data-wysihtml5-command="Indent" title="Збільшити відступ" tabindex="-1" href="javascript:;" unselectable="on">
                                                    <span class="fa fa-indent"></span>
                                                </a>
                                          </div>
                                        </li>
                                    </ul>
                                    {{ form.short_text }}
                                    <div class="help-block"></div>
                                </div>
                            <div class="form-group field-websitehomeform-homeisshowapps">
                                <input type="hidden" name="WebsiteHomeForm[homeIsShowApps]" value="0"><label><input type="checkbox" id="websitehomeform-homeisshowapps" name="WebsiteHomeForm[homeIsShowApps]" value="1" checked=""> Показать ссылки на приложения</label>
                                <div class="help-block"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row near-img" id="block_rename">
                        <div class="col-xs-12">
                            <h3 class="page-header">Рядом с нами</h3>
                        </div>
                        {% if formset_block %}
                            {{ formset_block.management_form }}
                            {% for block in formset_block %}
                                <div class="d-none">
                                {{ block }}
                                </div>
                        <div class="col-md-4" id={{ block.prefix }}>
                            <h4>Блок {{ forloop.counter }}</h4>
                            {% if block.image %}
                                <img src="{{ block.instance.image.url }}" id="img-{{ block.prefix }}" alt="" class="img-responsive margin-bottom-15">
                            {% else %}
                                <img src="{% static 'dist/img/glide.jpeg' %}" alt="" class="img-responsive margin-bottom-15">
                            {% endif %}
                            <div class="form-group field-websitehomefeature-0-id">
                                <input type="hidden" id="websitehomefeature-0-id" class="form-control" name="WebsiteHomeFeature[0][id]" value="1">
                                <div class="help-block"></div>
                            </div>
                            <div class="form-group field-websitehomefeature-0-imagefile">
                                <label class="control-label" for="{{ block.image.id_for_label }}">Рекомендований розмір: (1000x600)</label>
                                {{ block.image }}
                                <div class="help-block"></div>
                            </div>
                            <div class="form-group field-websitehomefeature-0-title">
                                <label class="control-label" for="{{ block.title.id_for_label }}">Заголовок блока</label>
                                {{ block.title }}
                                <div class="help-block"></div>
                            </div>
                            <div class="form-group margin-bottom-30 field-websitehomefeature-0-description">
                                <label class="control-label" for="{{ block.description.id_for_label }}">Опис</label>
                                <ul class="wysihtml5-toolbar" style=""><li class="dropdown">
                                    <a class="btn btn-default dropdown-toggle btn-none" data-toggle="dropdown">
                                        <span class="fa fa-font"></span><span class="current-font">Звичайний текст</span>
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="p" tabindex="-1" href="javascript:;" unselectable="on">Обычный текст</a></li>
                                        <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1" tabindex="-1" href="javascript:;" unselectable="on">Заголовок 1</a></li>
                                        <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2" tabindex="-1" href="javascript:;" unselectable="on">Заголовок 2</a></li>
                                        <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h3" tabindex="-1" href="javascript:;" unselectable="on">Заголовок 3</a></li>
                                        <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h4" tabindex="-1" href="javascript:;" unselectable="on">Заголовок 4</a></li>
                                        <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h5" tabindex="-1" href="javascript:;" unselectable="on">Заголовок 5</a></li>
                                        <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h6" tabindex="-1" href="javascript:;" unselectable="on">Заголовок 6</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <div class="btn-group">
                                        <a class="btn btn-none btn-default" data-wysihtml5-command="bold" title="CTRL+B" tabindex="-1" href="javascript:;" unselectable="on">Полужирный</a>
                                        <a class="btn btn-none btn-default" data-wysihtml5-command="italic" title="CTRL+I" tabindex="-1" href="javascript:;" unselectable="on">Курсив</a>
                                        <a class="btn btn-none btn-default" data-wysihtml5-command="underline" title="CTRL+U" tabindex="-1" href="javascript:;" unselectable="on">Подчёркнутый</a>
                                  </div>
                                </li>
                                <li>
                                    <div class="btn-group">
                                        <a class="btn btn-none btn-default" data-wysihtml5-command="insertUnorderedList" title="Маркированный список" tabindex="-1" href="javascript:;" unselectable="on">
                                            <span class="fa fa-list-ul"></span>
                                        </a>
                                        <a class="btn btn-none btn-default" data-wysihtml5-command="insertOrderedList" title="Нумерованный список" tabindex="-1" href="javascript:;" unselectable="on">
                                            <span class="fa fa-list-ol"></span>
                                        </a>
                                        <a class="btn btn-none btn-default" data-wysihtml5-command="Outdent" title="Уменьшить отступ" tabindex="-1" href="javascript:;" unselectable="on">
                                            <span class="fa fa-outdent"></span>
                                        </a>
                                        <a class="btn btn-none btn-default" data-wysihtml5-command="Indent" title="Увеличить отступ" tabindex="-1" href="javascript:;" unselectable="on">
                                            <span class="fa fa-indent"></span>
                                        </a>
                                    </div>
                                </li>
                                </ul>
                                {{ block.description }}
                                <div class="help-block"></div>
                            </div>
                        </div>
                            {% endfor %}
                        {% endif %}
                     </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="page-header">Налаштування SEO</h3>
                            <div class="form-group field-websitehomeform-homemetatitle">
                                <label class="control-label" for="websitehomeform-homemetatitle">Title</label>
                                {{ seo.title_seo }}
                                <div class="help-block"></div>
                            </div>
                            <div class="form-group field-websitehomeform-homemetadescription">
                                <label class="control-label" for="websitehomeform-homemetadescription">Description</label>
                                {{ seo.description_seo }}
                                <div class="help-block"></div>
                            </div>
                            <div class="form-group field-websitehomeform-homemetakeywords">
                                <label class="control-label" for="websitehomeform-homemetakeywords">Keywords</label>
                                {{ seo.keywords_seo }}
                                <div class="help-block"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <div class="form-group">
                                <a href="/admin/website/home" class="btn btn-default">Отменить</a>
                                <button type="submit" class="btn btn-success">Сохранить</button>
                            </div>
                        </div>
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>

    </section>
{% endblock %}