{% extends 'Appartament/base.html' %}
{% load static %}
{% block title %}Тарифи{% endblock %}
{% block content %}
    <section class="content">

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Редагування сторінки "Тарифи"</h3>
            </div>
            <div class="box-body">
                <form id="w0" action="{% url 'pageTarrif' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                    <h3 class="page-header">Інформація</h3>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group field-{{ form.title.html_name }}">
                        <label class="control-label" for="{{ form.title.id_for_label }}">Заголовок</label>
                        {{ form.title }}

                        <div class="help-block"></div>
                        </div>                            <div class="form-group field-{{ form.description.html_name }}">
                        <label class="control-label" for="{{ form.description.id_for_label }}">Краткий текст</label>
                        <ul class="wysihtml5-toolbar" style=""><li class="dropdown">
                          <a class="btn btn-default dropdown-toggle btn-none" data-toggle="dropdown">

                              <span class="fa fa-font"></span>

                            <span class="current-font">Обычный текст</span>
                            <b class="caret"></b>
                          </a>
                          <ul class="dropdown-menu">
                            <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="p" tabindex="-1" href="javascript:;" unselectable="on">Обычный текст</a></li>
                            <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1" tabindex="-1" href="javascript:;" unselectable="on">Заголовок 1</a></li>
                            <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2" tabindex="-1" href="javascript:;" unselectable="on">Заголовок 2</a></li>
                            <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h3" tabindex="-1" href="javascript:;" unselectable="on">Заголовок 3</a></li>
                            <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h4" tabindex="-1" href="javascript:;" unselectable="on">Заголовок 4</a></li>
                            <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h5" tabindex="-1" href="javascript:;" unselectable="on">Заголовок 5</a></li>
                            <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h6" tabindex="-1" href="javascript:;" unselectable="on">Заголовок 6</a></li>
                          </ul>
                        </li>
                        <li>
                          <div class="btn-group">
                            <a class="btn btn-none btn-default" data-wysihtml5-command="bold" title="CTRL+B" tabindex="-1" href="javascript:;" unselectable="on">Полужирный</a>
                            <a class="btn btn-none btn-default" data-wysihtml5-command="italic" title="CTRL+I" tabindex="-1" href="javascript:;" unselectable="on">Курсив</a>
                            <a class="btn btn-none btn-default" data-wysihtml5-command="underline" title="CTRL+U" tabindex="-1" href="javascript:;" unselectable="on">Подчёркнутый</a>

                          </div>
                        </li>
                        <li>
                          <div class="btn-group">
                            <a class="btn btn-none btn-default" data-wysihtml5-command="insertUnorderedList" title="Маркированный список" tabindex="-1" href="javascript:;" unselectable="on">

                              <span class="fa fa-list-ul"></span>

                            </a>
                            <a class="btn btn-none btn-default" data-wysihtml5-command="insertOrderedList" title="Нумерованный список" tabindex="-1" href="javascript:;" unselectable="on">

                              <span class="fa fa-list-ol"></span>

                            </a>
                            <a class="btn btn-none btn-default" data-wysihtml5-command="Outdent" title="Уменьшить отступ" tabindex="-1" href="javascript:;" unselectable="on">

                              <span class="fa fa-outdent"></span>

                            </a>
                            <a class="btn btn-none btn-default" data-wysihtml5-command="Indent" title="Увеличить отступ" tabindex="-1" href="javascript:;" unselectable="on">

                              <span class="fa fa-indent"></span>

                            </a>
                          </div>
                        </li>
                        </ul>
                            {{ form.description }}

                        <div class="help-block"></div>
                        </div>                        </div>
                                            </div>
                        {% if formset_tarrif %}
                                            <div class="row near-img">
                                            {{ formset_tarrif.management_form }}
                                                <div class="col-xs-12">
                                                    <h3 class="page-header">Изображения</h3>
                                                </div>
                                                <div id="form-websitetariff-rows">
                        {% for tarrif in formset_tarrif %}
                        <div id="form-{{ tarrif.prefix}}" class="col-md-4 form-{{ formset_tarrif.html_name }}">
                            <h4>
                                Тариф {{ forloop.counter }}
                                <a href="/admin/website/delete-tariff/5" class="pull-right text-red" data-confirm="Удалить?"><i class="fa fa-trash"></i></a>
                                    </h4>
                            {% if tarrif.image %}
                                <img src="{{ tarrif.instance.image.url }}" alt="">
                            {% else %}
                                <img src="{% static 'dist/img/glide.jpeg' %}" alt="">
                            {% endif %}
                            <input type="hidden" id="{{ tarrif.prefix }}-id"  value="5">
                            <div class="form-group">
                                <label for="{{ tarrif.image.id_for_label }}">Файл</label>
                                {{ tarrif.image }}
                            </div>
                            <div class="form-group">
                                <label for="{{ tarrif.description.id_for_label }}">Подпись</label>
                                {{ tarrif.description }}
                                    </div>
                        </div>
                        {% endfor %}
                                                </div>
                                            </div>
                        {% endif %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h3 class="page-header">Настройки SEO</h3>
                                                    <div class="form-group field-{{ seo.title_seo.html_name }}">
                        <label class="control-label" for="{{ seo.title_seo.id_for_label }}">Title</label>
                        {{ seo.title_seo }}

                        <div class="help-block"></div>
                        </div>                            <div class="form-group field-{{ seo.description_seo.html_name }}">
                        <label class="control-label" for="{{ seo.description_seo.id_for_label }}">Description</label>
                        {{ seo.description_seo }}

                        <div class="help-block"></div>
                        </div>                            <div class="form-group field-{{ seo.keywords_seo.html_name }}">
                        <label class="control-label" for="{{ seo.keywords_seo.id_for_label }}">Keywords</label>
                        {{ seo.keywords_seo }}

                        <div class="help-block"></div>
                        </div>                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <div class="form-group">
                                <a href="/admin/website/tariffs" class="btn btn-default">Отменить</a>
                                <button type="button" role="button" class="btn btn-success bg-green-active form-row-add-websitetariff-btn">Добавить тариф</button>
                                <button type="submit" class="btn btn-success">Сохранить</button>
                            </div>
                        </div>
                    </div>
                </form>            </div>
        </div>
    </div>
</div>

    </section>
{% endblock %}