{% extends 'Appartament/base.html' %}
{% block title %}{% endblock %}
{% block content %}
    <section class="content-header">
        <h3>Власники квартир</h3>
        <ul class="breadcrumb">
            <li><a href=""><i class="fa fa-home"></i>Головна</a></li>
            <li class="active">Власники квартир</li>
        </ul>
    </section>
<section class="content" style="font-size: 12px;">

<div class="row">
    <div class="col-xs-12">
        <div class="btn-group pull-right margin-bottom">
            <button type="button" class="btn btn-success dropdown-toggle mt-2 mr-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Оберіть дію <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a class="text-decoration-none dropdown-item" href="{% url 'add_owner_appartament' %}">Додати власника квартири</a></li>
                <li><a class="text-decoration-none dropdown-item" href="">Відправити повідомлення боржникам</a></li>
                <li><a class="text-decoration-none dropdown-item" href="{% url 'send_invite_owner' %}">Відправити запрошення</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title"></h3>
                <div class="box-tools">
                    <a href="/" class="btn btn-default btn-sm">
                        <span class="hidden-xs">Очистити</span><i class="fa fa-eraser visible-xs" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

            <div id="w0" class="grid-view"><div class="box-body table-responsive no-padding">
                <table class="table table-light table-bordered table-hover table-striped linkedRow">
                    <thead>
                        <tr>
                            <th style="width: 110px; min-width: 110px">ID</th>
                            <th><a href="/admin/user/index?sort=searchFullname" data-sort="searchFullname">ФИО</a></th>
                            <th style="width: 140px; min-width: 140px">Телефон</th><th style="width: 140px; min-width: 140px">Email</th>
                            <th style="min-width: 250px">Дом</th>
                            <th style="min-width: 300px">Квартира</th>
                            <th style="width: 110px; min-width: 110px">
                                <a href="/admin/user/index?sort=searchCreatedDate" data-sort="searchCreatedDate">Добавлен</a>
                            </th>
                            <th>Статус</th>
                            <th style="width: 80px; min-width: 80px">Есть долг</th>
                            <th style="width: 114px; min-width: 114px">&nbsp;</th>
                        </tr>
                        <tr id="w0-filters" class="filters">
                            <td><input type="text" class="form-control" id="owner_id" data-sort="id"></td>
                            <td><input type="text" class="form-control" id="owner_fio" data-sort="fio"></td>
                            <td><input type="text" class="form-control" id="owner_phone" data-sort="phone_number"></td>
                            <td><input type="text" class="form-control" id="owner_email"></td>
                            <td>
                                <select class="form-control" id="select_house" name="select_house">
                                    <option value=""></option>
                                    {% for home in house %}
                                    <option value="{{ home.id }}">{{ home.name_home }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td><input type="text" class="form-control" id="owner_flat"></td>
                            <td><input type="text" id="usersearch-searchcreateddate" class="form-control krajee-datepicker" name="owner_date_add" data-datepicker-source="usersearch-searchcreateddate" data-datepicker-type="1" data-krajee-kvdatepicker="kvDatepicker_1643d6f1"></td>
                            <td>
                                <select name="select_status" class="form-select" id="select_status">
                                    <option></option>
                                    <option value="2000">Новий</option>
                                    <option value="1000">Активний</option>
                                    <option value="3000">Неактивний</option>
                                </select>
                            </td>
                            <td><select id="usersearch-searchhasdebt" class="form-control select2-hidden-accessible" name="UserSearch[searchHasDebt]" data-s2-options="s2options_7ebc6538" data-krajee-select2="select2_0d896465" style="display:none" tabindex="-1" aria-hidden="true">
                                    <option value=""></option>
                                    <option value="1">Да</option>
                                </select>
                                <span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-usersearch-searchhasdebt-container"><span class="select2-selection__rendered" id="select2-usersearch-searchhasdebt-container"><span class="select2-selection__placeholder"></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span></td><td>&nbsp;</td></tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                    <li class="prev disabled"><span>«</span></li>
                    <li class="active"><a href="/admin/user/index?page=1&amp;per-page=50" data-page="0">1</a></li>
                    <li><a href="/admin/user/index?page=2&amp;per-page=50" data-page="1">2</a></li>
                    <li><a href="/admin/user/index?page=3&amp;per-page=50" data-page="2">3</a></li>
                    <li class="next"><a href="/admin/user/index?page=2&amp;per-page=50" data-page="1">»</a></li>
                </ul>
            </div>
            </div>
            <div class="box-footer">
                <div>Кількість власників: <span class="text-bold">{{ count_owner }}</span></div>
            </div>

        </div>
    </div>
</div>
    </section>
    <script>
    $(document).ready(function () {
        $("#select_house").select2({
            placeholder: '',
            theme: 'classic',
            allowClear: true
        });
        $("#select_status").select2({
            minimumResultsForSearch: Infinity,
            theme: "classic",
            placeholder: '',
            allowClear: true
        });

        let dataTable = $('.linkedRow').DataTable({
                'serverSide': true,
                'searching': false,
                'autoWidth': false,
                'ordering': true,
                'lengthChange': false,
                'ajax': {
                    'url': "{% url 'owner_appartament_dataTable' %}",
                    'type': 'GET',
                    'data': function(d) {
                        d.owner_id = $('#owner_id').val();
                        d.owner_fio = $('#owner_fio').val();
                        d.owner_phone = $('#owner_phone').val();
                        d.owner_email =$('#owner_email').val();
                        d.owner_house = $('#select_house').val();
                        d.owner_flat = $('#owner_flat').val();
                        d.owner_status = $('#select_status').val();
                    }
                },
                'columns': [
                        {'data': 'id'},
                        {'data': 'fio', 'className': 'sortable', 'orderable': true},
                        {'data': 'phone', 'className': 'sortable', 'orderable': true, 'render': function (data){
                            if(data !== null){return data}else{return '(не вказано)'}
                            }},
                        {'data': 'email', 'className': 'sortable', 'orderable': true},
                        {'data': 'house', 'className': 'sortable', 'orderable': true, "render": function (data){
                               return JSON.parse(data).map(function(house) {
                                  return '<a href="/admin/house/detail/'+house['pk'] +'">' + house['fields']['name_home'] + '</a>';
                                }).join(', <br>');
                            }},
                        {'data': 'flat', 'className': 'sortable', 'orderable': true, 'render': function (data, type, row, meta){
                            return JSON.parse(data).map(function (flat){

                                return '<a href="/admin/appartament/detail/'+flat['pk']+'">'+ flat['fields']['number_appartament'] +'</a>'
                            }).join(', <br>')
                            }},
                        {'data': 'date', 'className': 'sortable', 'orderable': true},
                        {'data': 'status', 'className': 'sortable', 'orderable': true, 'render': function (data){
                            if(data === 'Активний'){
                             return '<small class="label label-success p-1 rounded text-bold">'+data+'</small>'
                            }else if(data === 'Новий'){
                                return '<small class="label label-warning p-1 rounded text-bold">'+data+'</small>'
                            }else if(data === 'Відключений'){
                                return '<small class="label label-danger p-1 rounded text-bold">'+data+'</small>'
                            }else{
                                return 'Помилка'
                            }
                            }},
                        {'data': 'borg', 'className': 'sortable', 'orderable': true},
                        {'data': null, 'orderable': false, 'searchable': false, 'render': function(data, type, row, meta) {
                            // Додаткові іконки для видалення та редагування
                            return `<div class="btn-group">\
                                      <a class="btn btn-default btn-sm" href="owner_appartament/send_invite/${data.id}" title="Відправити запрошення"><svg width="17px" height="17px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                          <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
                                        </svg>
                                       </a>
                                      <a class="btn btn-default btn-sm" href="owner_appartament/update/${data.id}" title="Редагувавти" data-toggle="tooltip"><svg width="17px" height="17px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">\
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"></path>\
                                    </svg></a>\
                                      <a class="btn btn-default btn-sm" onclick="check_value('owner_appartament/delete/${data.id}')" title="Видалити" data-toggle="tooltip" data-pjax="0" data-method="post" data-confirm="Вы уверены, что хотите удалить этот элемент?"><svg width="17px" height="17px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                      <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"></path>
                                    </svg></a>
                                    </div>`;
                          }}
                    ],
                'language': {
                    'lengthMenu': '_MENU_ записів на сторінку',
                    'zeroRecords': 'Нічого не знайдено',
                    'info': 'Показано _START_ - _END_ з _TOTAL_ записів',
                    'infoEmpty': 'Показано 0 записів',
                    'infoFiltered': '(знайдено з _MAX_ записів)',
                    'pagingType': 'full_numbers',
                    'paginate': {
                        'first': 'Перша',
                        'last': 'Остання',
                        "next": "&raquo;",
                        "previous": "&laquo;"
                    },
                },
            });

            $('#owner_id, #owner_fio, #owner_email, #owner_phone, #owner_flat').keyup(function() {
                dataTable.draw();
            });

            $('#select_house, #select_status').on('change', function (){
                dataTable.draw();
            })
    });
    </script>
{% endblock %}