{% extends 'Appartament/base.html' %}
{% block title %}{% endblock %}
{% block content %}
    <section class="content-header">
        <h1>Пригласить владельца квартир        </h1>
        <ul class="breadcrumb">
            <li><a href="/admin/"><i class="fa fa-home"></i> Главная</a></li>
            <li><a href="/admin/user/index">Владельцы квартир</a></li>
            <li class="active">Пригласить владельца квартир</li>
        </ul>
    </section>
    <section class="content">

        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Отправить приглашение</h3>
            </div>
            <div class="box-body">
                <form id="w0" action="{% url 'send_invite_owner' %}" method="post">
                    {% csrf_token %}
            <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group field-phone">
                    <label class="control-label" for="phone">Телефон</label>
                    <input type="text" class="form-control" name="phone" id="phone_for_send" onkeyup="check_text_new(this)" value="" placeholder="+380991234567">                </div>

                <div class="form-group field-email">
                    <label class="control-label" for="email">Email</label>
                    <input type="text" class="form-control" id="email_for_send" name="email" required onkeyup="isEmail(this.value)" value="" placeholder="info@example.com">                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Отправить приглашение</button>                </div>
            </div>
        </div>
        </form>    </div>
</div>
    </section>
{% endblock %}