<!DOCTYPE html>
<html lang="ru">
{% load static %}
<style class="adjust-screen-brightness" media="screen">html::before {
  content: " ";
  z-index: 2147483647;
  pointer-events: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
}</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Реєстрація{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap-datepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/AdminLTE.min.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/style.css' %}">

</head>
<body class="login-page">
<div class="login-box">
    <div class="login-logo">
        <a href="">
            <img src="http://myhouse24.avada-media.ua/logo.svg" alt="logo">
        </a>
    </div>
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="" data-toggle="tab" aria-expanded="true">Для мешканця</a></li>
            <li class="active"><a href="">Для адміністрації</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
                <div class="login-box-body">

                    <form id="login-form" action="{% url 'register_view' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group has-feedback required">
                            {{ register_form.first_name }}
                            <span class="fa form-control-feedback">
                                <svg width="20px" height="20px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
                                </svg>
                            </span>
                        </div>
                        <div class="form-group has-feedback required">
                            {{ register_form.email }}
                            <span class="fa form-control-feedback"><svg width="20px" height="20px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
                            </svg></span>
                        </div>
                        <div class="form-group has-feedback required">
                            {{ register_form.password1 }}
                            <span class="fa form-control-feedback"><svg width="20px" height="20px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
                            </svg></span>
                        </div>
                        <div class="form-group has-feedback required">
                            {{ register_form.password2 }}
                        <span class="fa form-control-feedback">
                            <svg width="20px" height="20px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9" />
                            </svg>
                        </span>
</div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button type="submit" class="btn btn-primary btn-block" name="login-button">Зареєструватися</button>                            </div>
                        </div>

                    </form>
                                    </div>
            </div>

                    </div>
    </div>
</div>
</body>


<script href="{% static 'plugins/jquery/jquery.js' %}"></script>
<script href="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script href="{% static 'plugins/bootstrap/js/bootstrap-datepicker.min.js' %}"></script>
<script href="{% static 'dist/js/adminlte.min.js' %}"></script>
<script href="{% static 'dist/js/main.js' %}"></script>
<script>
    function check_text(id){
    if (id.value !== ''){
        id.parentElement.setAttribute('class', 'form-group has-success')
    }else{
        id.parentElement.setAttribute('class', 'form-group has-error')
    }
}
</script>
</html>