<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" type="image/png" href="{% static 'dist/img/favicon.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


    <title>{% block title %}Вхід{% endblock %}</title>
    <link href="{% static 'dist/css/style.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="login-box">
    <div class="login-logo">
        <a href="https://myhouse24.avada-media.ua/">
            <img src="{% static 'dist/img/loginlogo.svg' %}" alt="logo">
        </a>
    </div>
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">Для жильца</a></li>
            <li><a href="https://myhouse24.avada-media.ua/admin/site/login">Для администрации</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
                <div class="login-box-body">
                    <p class="login-box-msg">Вход в личный кабинет</p>
                    <form id="login-form" action="/cabinet/site/login" method="post">
                    <input type="hidden" name="_csrf-cabinet" value="gTA9Ea-bjaMR15jQZXLi9EwptUsYo0Y9fjeUJSdpGQ3ORUVm2My-ykmh_7U6P4CyPEOAIFXhdXZHUdBdHwshRw==">
                        <div class="form-group has-feedback field-loginform-username required">
                            <input type="text" id="loginform-username" class="form-control" name="LoginForm[username]" placeholder="E-mail или ID" aria-required="true"><span class="fa fa-envelope form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback field-loginform-password required">
                            <input type="password" id="loginform-password" class="form-control" name="LoginForm[password]" placeholder="Пароль" aria-required="true"><span class="fa fa-lock form-control-feedback"></span>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="checkbox icheck">
                                    <input type="hidden" name="LoginForm[rememberMe]" value="0"><label><div class="icheckbox_flat-blue checked" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" id="loginform-rememberme" name="LoginForm[rememberMe]" value="1" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> Запомнить меня</label>                                </div>
                            </div>
                            <div class="col-xs-12">
                                <button type="submit" class="btn btn-primary btn-block" name="login-button">Вход</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

                    </div>
    </div>
</div>
</body>


<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.1.2/chart.min.js" integrity="sha512-fYE9wAJg2PYbpJPxyGcuzDSiMuWJiw58rKa9MWQICkAqEO+xeJ5hg5qPihF8kqa7tbgJxsmgY0Yp51+IMrSEVg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'plugins/bootstrap/js/Chart.min.js'%}"> </script>
<script src="{% static 'plugins/bootstrap/js/moment.js' %}"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
<!-- Script -->

<script src="{% static 'dist/js/jquery-ui.js' %}"></script>
</html>