{% extends 'Appartament/base.html' %}
{% load static %}
{% block title %}Подробиці повідомлення{% endblock %}
{% block content %}
    <section class="content-header" style="font-size: 12px;">
        <h3>Повідомлення</h3>
        <ul class="breadcrumb">
            <li><a href="/admin/"><i class="fa fa-home"></i>Головна</a></li>
            <li><a href="{% url 'message_list' %}">Повідомлення</a></li>
            <li class="active">Повідомлення</li>
        </ul>
    </section>
    <section class="content" style="font-size: 12px;">
        <div class="box">
            <div class="box-body no-padding">
                <div class="mailbox-read-info">
                    <h5>{{ message.title_mess }}</h5>
                    <p>Від: {{ message.user_send }}
                        <span class="mailbox-read-time pull-right">{{ message.date_send|date:"d.m.Y - h:s" }}</span>
                    </p>
                </div>
                <div class="mailbox-read-message">
                    <p>{{ message.description_mess }}</p>        </div>
            </div>
            <div class="box-footer">
                <a onclick="check_value('{% url 'message_delete' message.id %}')" data-confirm="Удалить?" data-method="post">
                    <button type="button" class="btn btn-default">
                        <svg width="20px" height="20px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                        </svg>

                        Видалити</button>
                </a>
            </div>
        </div>
    </section>
{% endblock %}